.form {
    -fx-spacing: 8;
    -fx-padding: 8;
    -fx-alignment: center-left;
}

.map {
    -fx-alignment: center;
    -fx-padding: 8;
}

.scores {
    -fx-border-insets: 0 10 0 0;
    -fx-background-insets: 0 10 0 0;
    -fx-padding: 0 10 0 0;
}